[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "shinyNORRRM"]
	path = shinyNORRRM
	url = https://github.com/therfrog/shinynorrrm
